# Dependencies
node_modules/
backend/venv/
backend/__pycache__/
*.pyc

# Environment variables (Keep secrets local!)
backend/.env

# Build artifacts
frontend/dist/
frontend/.vite/

# System
.DS_Store
